body {
  margin: 0;
  box-sizing: border-box;
  background-image: url('https://vivien321.files.wordpress.com/2015/01/ef354-movies.jpg?w=619&zoom=2'); /* Replace with the actual path */
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  position: relative; 
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black */
  z-index: -1; /* Place the overlay behind other elements */
}
.section-header {
  margin-bottom: 60px;
  position: relative;
  padding-bottom: 20px;
}

.section-header::before {
  content: '';
  position: absolute;
  display: block;
  width: 60px;
  height: 5px;
  background: #f82249;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-header h2 {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
}

.section-header p {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: #9195a2;
}
.subscribe {
    padding: 25vh 0;
    background: url('images/bg-03.jpg') center center no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    min-height: 100vh;
}

.subscribe:before {
  content: "";
  background: rgba(6, 12, 34, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.subscribe .section-header h2,
.subscribe p {
  color: #fff;
}

.subscribe input {
  background: #fff;
  color: #060c22;
  border: 0;
  outline: none;
  margin: 0;
  padding: 9px 20px;
  border-radius: 50px;
  font-size: 14px;
}

.subscribe button {
  border: 0;
  padding: 9px 25px;
  cursor: pointer;
  background: #f82249;
  color: #fff;
  transition: all 0.3s ease;
  outline: none;
  font-size: 14px;
  border-radius: 50px;
}

.subscribe button:hover {
  background: #e0072f;
}

@media only screen and (min-width: 768px) {
  .subscribe input {
    min-width: 400px;
}

}
.back-button {
  background-color: #f82249;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1;
  text-decoration: none;
}

.back-button:hover {
  background-color: #0056b3;
}