body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  background-image: url("https://img.freepik.com/free-vector/cinema-film-strip-wave-film-reel-clapper-board-isolated-white_157027-464.jpg");
  margin: 0;
  padding: 0;
}

/* Styling for the movie containers */
.Top.rated-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* Styling for individual movie cards */
.Top.rated-inside {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.Top.rated-inside img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Styling for the rating stars */
.Top.rated-inside p span {
  color: #ffd700; /* gold color */
}

/* Styling for the "Watch Now" buttons */
.btn2 a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn2 a:hover {
  background-color: #0056b3;
}
.back-button {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1;
  text-decoration: none;
}

.back-button:hover {
  background-color: #0056b3;
}